#sobre-mi {
  padding: 3% 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffbb;
}

#descripcion p {
  padding-right: 50px;
}


#contacto ul {
  list-style: none;
  padding: 0;
}


@media screen and (max-width: 575px) {
  #descripcion {
    margin-top: 20px;
  }
  #contacto {
    border-top: 1px solid #ffffffad;
    padding-top: 20px;
  }
  #descripcion p {
    height: 125px;
    overflow-y: scroll;
  }
}
