<div class="contenedor-acerca-de w-100 d-flex justify-content-center align-items-center">

  <div id="sobre-mi" class="row container-lg">

    <div id="descripcion" class="col-sm-8">
      <h2>Sobre mi</h2>
      <p>{{pers.descripcion}}</p>
    </div>

    <div id="contacto" class="col-sm-4">
      <ul>
        <li><b>Nacionalidad: </b> <span>Argentina</span></li>
        <li><b>Edad: </b> <span>27</span></li>
        <li><b>e-mail: </b> <span>email@gmail.com</span></li>
        <li><b>Telefono: </b> <span>+54 000000000</span></li>
      </ul>
    </div>
  </div>

</div>
