.contenedor-exp-skills{
  color: #ffffffbb;
}
#contenedor-exp {
  margin-bottom: 30px;
}
#contenedor-edu {
  padding-bottom: 10px;
}

.editar {
  border: none;
  border-radius: 8px;
  background-color: #cbe8ff;
  transition: ease-out .3s;
}
.editar:hover {
  background-color: #4ba8ff;
}

.borrar {
  border: none;
  border-radius: 8px;
  background-color: #eb5757;
  transition: ease-out .3s;
}
.borrar:hover {
  background-color: #e62828;
}


.experiencia {
  background-color: #00000073;
  padding: 10px;
  border-radius: 8px;
}
.nombre-experiencia .nombre{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0; margin: 5px 0;
}
.nombre-experiencia {
  width: 100%;
  padding-bottom: 10px;
}



.educacion {
  background-color: #00000073;
  padding: 10px;
  border-radius: 8px;
}
.nombre-educacion .nombre{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0; margin: 5px 0;
}
.nombre-educacion {
  width: 100%;
  padding-bottom: 10px;
}


.botones {
  padding-left: 20px;
}
.botones button {
  margin: 5px;
}

#card-exp, #card-edu {
  width: 100%;
  border-bottom: 1px solid #ffffff50;
}
