<div class="nueva-educacion-permisos container-md d-flex justify-content-center align-items-center" *ngIf="!isAdminUser">
  <div class="cont-aviso">
    <h2>No tienes permisos para añadir educacion</h2>
    <h3>Inicia sesion y vuelve a intentar.</h3>
    <br>
    <a aria-current="page" href="">Volver</a>
  </div>
</div>

<div class="container" *ngIf="isAdminUser">
  <div id="formulario-nuevaedu" class="row">
    <div class="col-sm-8">
      <h2>Nueva educacion</h2>
      <form id="cont-edu" (ngSubmit)="onCreateEdu()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreE">¿Donde estudiaste?</label>
          <input type="text" class="form-control" name="nombreEdu" id="nombreEdu" [(ngModel)]="nombreE" required>
        </div>
        <div class="form-group">
          <label for="descripcionE">Descripcion de estudios</label>
          <input type="text" class="form-control" name="descripcionE" id="descripcionE" [(ngModel)]="descripcionE" required>
        </div>
        <br>
        <button id="nueva-educacion-btn" class="btn btn-light w-100">
          Añadir
        </button>
      </form>
    </div>
  </div>
</div>
