
#h2-proyectos {
  background-color: #00000073;
  padding: 10px;
  border-radius: 8px;
  color: #ffffffbb;
  margin-top: 30px;
}

.carrusel {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.carta {
  position: relative;
  z-index: 50;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffffffd0;
  box-shadow: 2px 2px 8px #00000083;
}
.carta img {
  border-top-left-radius: 10px; border-top-right-radius: 10px;
  transition: ease-out .3s;
  height: 200px;
  object-fit: cover;
}
.carta img:hover {
  transform: scale(0.95);
}
.info-carta {
  height: 200px;
  padding: 5px 15px 30px;
  border-top: 1px solid #0000007a;
}
.info-carta p {
  height: 80%;
  overflow-y: auto;
  word-wrap: break-word;
}
.info-carta p::-webkit-scrollbar {
  display: none;
}
.info-carta p:hover::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.info-carta p::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00000093;
}

#botones-card {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}
.editar {
  margin: 5px 2px;
  border: none;
  border-radius: 8px;
  background-color: #cbe8ff;
  transition: ease-out .3s;
}
.editar:hover {
  background-color: #4ba8ff;
}
.borrar {
  margin: 5px 2px;
  border: none;
  border-radius: 8px;
  background-color: #eb5757;
  transition: ease-out .3s;
}
.borrar:hover {
  background-color: #e62828;
}


@media screen and (max-width: 992px) {
  .carta {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 10px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffffffd0;
    box-shadow: 2px 2px 8px #00000083;
  }
}
@media screen and (max-width:540px) {
  .carta {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 20px 10px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffffffd0;
    box-shadow: 2px 2px 8px #00000083;
  }
}
