<div class="contenedor-proyectos d-flex flex-column justify-content-center align-items-center w-100">

  <div class="row container-lg">
    <h2 id="h2-proyectos">Proyectos</h2>

    <div class="col-lg-2 w-100">
      <button type="button" routerLink="/nuevo-proyecto" class="btn btn-light mb-1 mt-2 pt-1 pb-1" *ngIf="isLogged && isAdminUser">
        Añadir
      </button>
    </div>

    <div class="cont-carrusel container-md d-flex justify-content-center align-items-center">

      <div class="carrusel container-md">

        <div class="carta" *ngFor="let proyecto of proyectos">
          <a href={{proyecto.proyectoUrl}} target="_blank"><img src={{proyecto.img}} alt="" width="100%"></a>
          <div id="botones-card" *ngIf="isLogged && isAdminUser">
            <button class="editar mt-1" routerLink="/editproject/{{proyecto.id}}"><i class="bi bi-pencil"></i></button>
            <button class="borrar" (click)="delete(proyecto.id)"><i class="bi bi-trash3"></i></button>
          </div>
          <div class="info-carta">
            <h3>{{proyecto.nombre}}</h3>
            <p>{{proyecto.descripcion}}</p>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>

