<div class="contenedor-proyectos d-flex flex-column justify-content-center align-items-center w-100">

  <div class="row container-lg">
    <h2 id="h2-proyectos">Proyectos</h2>

    <div class="col-lg-2 w-100">
      <button type="button" routerLink="/nueva-habilidad" class="btn btn-light mb-1 mt-2 pt-1 pb-1" *ngIf="isLogged">
        Añadir
      </button>
    </div>

    <div class="cont-carrusel container-md d-flex justify-content-center align-items-center">

      <div class="carrusel container-md">

        <div class="carta" *ngFor="let Proyectos of proyectos">
          <a href="#"><img src="assets/imagenes/img/card-2.jpg" alt="" width="100%"></a>
          <div class="info-carta">
            <h3>{{Proyectos.nombre}}</h3>
            <p>{{Proyectos.descripcion}}</p>
          </div>
        </div>

      </div>

    </div>

  </div>
