<div class="contenedor-proyectos d-flex flex-column justify-content-center align-items-center w-100">

  <h2 class="container-md">Proyectos</h2>
  <div class="cont-carrusel container-md d-flex justify-content-center align-items-center">

    <div class="carrusel container-md">

      <div class="carta">
        <a href="#"><img src="/assets/imagenes/img/card-2.jpg" alt="" width="100%"></a>
        <div class="info-carta">
          <h3>Titulo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima dolore, inventore dolorum sunt consequuntur dolorem rem quisquam, delectus reiciendis saepe facilis sit hic ipsam quo deserunt, aliquid voluptates dignissimos.</p>
        </div>
      </div>

    </div>

  </div>
