<div class="contenedor-portada w-100 d-flex flex-column justify-content-center align-items-center">

  <div id="portada" class="row container-lg">

    <div class="col-lg-2">
      <button class="btn btn-light mb-1 mt-2 pt-1 pb-1" type="button" routerLink="/editperfil/1" *ngIf="isLogged">
        Editar Perfil
      </button>
    </div>

    <div id="foto-perfil" class="col-sm-4 d-flex justify-content-center align-items-center">
      <img src={{pers.img}} alt="foto de perfil" width="175px">
    </div>

    <div id="nombre" class="col-sm-8 d-flex flex-column justify-content-center align-items-center">
      <h2>{{pers.nombre}} {{pers.apellido}}</h2>
      <p>{{pers.rol}}</p>
      <div id="redes">
        <a href="#"><img src="assets/imagenes/ico/facebook.png" alt="facebook" width="25px"></a>
        <a href="#"><img src="assets/imagenes/ico/instagram.png" alt="instagram" width="25px"></a>
        <a href="#"><img src="assets/imagenes/ico/linkedin.png" alt="linkedin" width="25px"></a>
      </div>
    </div>

  </div>

  <div id="sobre-mi" class="row container-lg">


    <div id="descripcion" class="col-sm-12">
      <h2>Sobre mi</h2>
      <p>{{pers.descripcion}}</p>
    </div>


  </div>

</div>
