<div class="contenedor-portada w-100 d-flex justify-content-center align-items-center">

  <div id="portada" class="row container-lg">

    <div id="foto-perfil" class="col-sm-4 d-flex justify-content-center align-items-center">
      <img src="/src/assets/imagenes/img/perfil-foto.png" alt="foto de perfil" width="175px">
    </div>

    <div id="nombre" class="col-sm-8 d-flex flex-column justify-content-center align-items-center">
      <h2>Lucas M. Carranza</h2>
      <p>Full Stack Developer Jr.</p>
      <figure id="redes">
        <a href="#"><img src="/src/assets/imagenes/ico/facebook.png" alt="facebook" width="25px"></a>
        <a href="#"><img src="/src/assets/imagenes/ico/instagram.png" alt="instagram" width="25px"></a>
        <a href="#"><img src="/src/assets/imagenes/ico/linkedin.png" alt="linkedin" width="25px"></a>
      </figure>
    </div>

  </div>

</div>
