<div class="contenedor-skills d-flex flex-column justify-content-center aling-items-center w-100">


  <h2 class="container-md">Habilidades</h2>
  <div class="barras-porcentajes container-lg">
    <div class="contenedor">
      <p class="nombre">HTML</p>
      <div class="barra">
        <div class="skills html"></div>
      </div>
    </div>

    <div class="contenedor">
      <p class="nombre">CSS</p>
      <div class="barra">
        <div class="skills css"></div>
      </div>
    </div>

    <div class="contenedor">
      <p class="nombre">JAVASCRIPT</p>
      <div class="barra">
        <div class="skills js"></div>
      </div>
    </div>

  </div>


</div>
