:root {
  --porcentaje-habilidad: 20%;
  --num-habilidad: calc(var()* 1%)
}
#h2-habilidad {
  background-color: #00000073;
  color: #ffffffcc;
  padding: 10px;
  border-radius: 8px;
}
.lenguaje {
  color: #ffffffbb;
  margin: 20px 0 5px;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;
}
.barra {
  background-color: #bebebe8c;
  padding: 0 1px 5px 0;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 5px #00000046;
}

.editar {
  margin: 5px 2px;
  border: none;
  border-radius: 8px;
  background-color: #30a591;
  transition: ease-out .3s;
}
.editar:hover {
  background-color: #29dbbe;
}
.borrar {
  margin: 5px 2px;
  border: none;
  border-radius: 8px;
  background-color: #eb5757;
  transition: ease-out .3s;
}
.borrar:hover {
  background-color: #e62828;
}

#habilidad {
  --porcentaje: 0;
  background-color: #ffffffd2;
  color: #000000bb;
  width: 100%;
  text-align: left;
  font-size: .8rem;
  font-weight: bold;
  padding: 12px;
  animation: progresonombre 3s forwards;
}

@keyframes progresonombre {
  0% { width: 0; }
  100% { width: calc(var(--porcentaje)*1); }
}
