<div class="contenedor-login">

  <form id="cont-login" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <h2>Iniciar Sesión</h2>

    <span>Usuario</span>
    <div class="user">
      <label for="nombreUsuario"></label>
      <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
    </div>

    <span>Contraseña</span>
    <div class="pw">
      <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
      <label for="password"></label>
    </div>

    <div class="boton-login">
      <button id="btn-login" type="submit">Iniciar sesión</button>
    </div>

  </form>

</div>
