<header class="d-flex justify-content-center align-items-center w-100">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/imagenes/logos/logo_01_shadow.png" alt="logo argentina programa" class="img-fluid" width="150px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="assets/imagenes/ico/menu-boton.png" alt="boton menu" width="35px"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-end w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>

        <button id="btn-login" (click)="login()" *ngIf="!isLogged">Login</button>
        <button id="btn-login" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
      </div>
    </div>
  </nav>

</header>
